
= form_for [@hospital, @patient, @medications] do |f|
	= f.label :name
	= f.text_field :name
	%br
	= f.label :dose
	= f.text_field :dose
	%br
	= f.submit


- if flash[:notice]
	%p id="notice"><%= flash[:notice]


- if flash[:error]
	%p id="error"><%= flash[:error]

