= form_for [@medication] do |f| 
	= f.label :name
	= f.text_field :name
	%br
	= f.label :dose
	= f.text_field :dose
	%br
	= hidden_field_tag 'medication[patient_ids][]', ''
	- @patients.each do |patient|
		= check_box_tag 'medication[patient_ids][]', patient.id, @medication.patients.include?(patient)
		= patient.first_name
		= patient.last_name
		|
		= patient.description
		|
		= patient.dob
		|
		= patient.gender
		|
		= patient.blood_type
		%br
	= f.submit

