= render 'header'

%br

= form_tag medications_path, method: :get, class: "navbar-form", role: "search" do
  .input-group
    = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        %i.glyphicon.glyphicon-search
%br

%br
  - @medications.each do |medication|
    = medication.name
    = medication.dose
    = link_to 'Edit', edit_medication_path(medication)
    = link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' }
    %br
  %br
    = link_to 'Add Medication', new_medication_path
    = link_to 'Back', patients_path
