<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<% if flash[:error] %>
  <p id="error"><%= flash[:error] %></p>
<% end %>

<%= form_for [@hospital, @patient] do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
	<br>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
	<br>
	<%= f.label :dob %>
	<%= f.date_select :dob, :start_year=>1915,:end_year=>2005 %>
	<br>
	<%= f.label :gender %>
		<%= f.radio_button(:gender, "male") %>
		<%= f.label(:gender, "male" ) %>
		<%= f.radio_button(:gender, "female") %>
		<%= f.label(:gender, "female" ) %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>
	<%= f.label :blood_type %>
	<%= f.select :blood_type, options_for_select(Patient::BLOOD_TYPE_OPTIONS), 
	 include_blank: "select" 
		%>

	<br>
	<%= f.submit %>

<% end %>