%strong Patients Directory

- @patients.each do |patient|
  = patient.workflow_state
  %br
  %a Hospital ID:
  = patient.hospital_id
  %br
  = patient.first_name
  = patient.last_name
  %br
  = patient.dob
  %br
  = patient.description
  %br
  = patient.gender
  %br
  = patient.blood_type
  %br
  %a Current Medications:
  - patient.medications.each do |medication|
    = medication.name
    = medication.dose
    %br
  %br
  = link_to 'Show Medications', medications_path
  %br
  = link_to 'Edit', edit_patient_path(patient)
  = link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } 
  %br
    - if patient.wait?
      = link_to "exam", checkup_patient_patient_path(patient), method: :patch
      = link_to "scan", xray_patient_patient_path(patient), method: :patch
      = link_to "operation", surgery_patient_patient_path(patient), method: :patch
      = link_to "leave", discharged_patient_patient_path(patient), method: :patch
    - if patient.exam?
      = link_to "scan", xray_patient_patient_path(patient), method: :patch
      = link_to "checkout", billing_patient_patient_path(patient), method: :patch
      = link_to "leave", discharged_patient_patient_path(patient), method: :patch
    - if patient.scan?
      = link_to "operation", surgery_patient_patient_path(patient), method: :patch
      = link_to "checkout", billing_patient_patient_path(patient), method: :patch
      = link_to "leave", discharged_patient_patient_path(patient), method: :patch
    - if patient.operation?
      = link_to "exam", checkup_patient_patient_path(patient), method: :patch
      = link_to "checkout", billing_patient_patient_path(patient), method: :patch
      = link_to "leave", discharged_patient_patient_path(patient), method: :patch
    - if patient.checkout?
      = link_to "leave", discharged_patient_patient_path(patient), method: :patch




%br
  = link_to 'Back', hospitals_path