= render 'header'
%h2 Hospitals Listing
%br

= form_tag hospitals_path, method: :get, class: "navbar-form", role: "search" do
  .input-group
    = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default{:style => "width:40px;"}
        %i.glyphicon.glyphicon-search
%br
- @hospitals.each do |hospital|
  .col-md-4
    .well.well-sm
      .ul
        = hospital.name
        %br
        = hospital.city
        = hospital.address
        %br
        = hospital.description
        %br
        = link_to 'Show', hospital_path(hospital), class: 'btn btn-primary btn-sm'
        = link_to 'Edit', edit_hospital_path(hospital), class:  "btn btn-info btn-sm"
        = link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' }, class:  'btn btn-danger btn-sm'
  %br
%br
  = link_to "New Hospital", new_hospital_path
