= render 'header'
.col.md.5
	%h1 Hospital Data
	%br/
	%strong Hospital:
	= @hospital.name
	%br/
	%strong City:
	= @hospital.city
	%br/
	%strong Address:
	= @hospital.address
	%br/
	%strong Description:
	= @hospital.description
	%br/
	%br/
	= link_to "Add Patient", new_patient_path(@hospital, @patient)
	= link_to "Patient Directory", patients_path(@hospital)
	%br/
	= link_to "Back", hospitals_path
	= link_to "Home", root_path
	%br
	= link_to "New Doctor", new_doctor_path
	%br
	- @patients.each do |patient|
		.col-md-3
			.well.well-sm
				= patient.first_name
				= patient.last_name
				%br
				= patient.dob
				%br
				= patient.description
				%br
				= patient.gender
				%br
				= patient.blood_type
				%br
				= link_to 'Medications', medications_path, class: 'btn btn-primary btn-sm'
				= link_to 'Edit', edit_patient_path(patient), class: "btn btn-info btn-sm"
				= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
				%br