%h1 Hospital Data
%br/
%strong Hospital:
= @hospital.name
%br/
%strong City:
= @hospital.city
%br/
%strong Address:
= @hospital.address
%br/
%strong Description:
= @hospital.description
%br/
%br/
= link_to "Add Patient", new_patient_path(@hospital)
= link_to "Patient Directory", patients_path(@hospital)
%br/
= link_to "Back", hospitals_path
= link_to "Home", root_path
