%br
= form_for @doctor do |f|
	= f.label :name
	= f.text_field :name
	%br
	= f.label :doctoring_type
	= f.text_field :doctoring_type
	%br
	Works at:
	%br
	= hidden_field_tag 'doctor[hospital_ids][]', ''
	- @hospitals.each do |hospital|
		= check_box_tag 'doctor[hospital_ids][]', hospital.id, @doctor.hospitals.include?(hospital)
		= hospital.name
		%br
	= f.submit
	%br

= link_to "back", doctors_path
